@for (item of products; track item._id) {
  <div class="card bg-base-100 w-96 shadow-sm m-4">
    <figure>
      <img [src]="'http://localhost:3000' + item.image" alt="Product Image" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">{{ item._id }}</h2>
      <p>{{ item.details }}</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary" (click)="addToCart(item)">add to cart</button>
        <button class="btn btn-info">{{item.price}} $</button>
      </div>
    </div>
  </div>
}

<button (click) = "doSomething()">click</button>
