<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a routerLink="/" class="btn btn-ghost text-xl">SparseCommerce</a>
  </div>
  <div class="flex-1">
    <a routerLink="/about" class="btn btn-ghost text-xl">about</a>
  </div>
  
  <div class="flex-none pr-4">
    <ul class="menu menu-horizontal px-1">
      <li>
        <div class="avatar" *ngIf="user?._id">
          <div class="ring-primary ring-offset-base-100 w-12 rounded-full ring-2 ring-offset-2">
            <img [src]="user.image | imageUrl"/>
          </div>
          </div>

      </li>
      <li class="relative">
        <details>
          <summary>
              {{user | getUserName}}
          </summary>
          <ul class="bg-base-100 rounded-t-none p-2 absolute right-0 z-50 shadow-lg min-w-[8rem]">
            <li><a routerLink="/profile"  *ngIf="user?._id">Profile</a></li>
            <li><a role="button" (click)="logout($event)"  *ngIf="user?._id">Logout</a></li>
            <li><a routerLink="/login"  *ngIf="!user?._id">Login</a></li>
            <li><a routerLink="/register"  *ngIf="!user?._id">Register</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>

<app-product-search *ngIf="router.url.split('?')[0] === '/'"></app-product-search>
  